extends ../layout/base.pug

block styles
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/product.css")


block content
    main
        form.procuctForm(action="product",method="POST")
            .form-control
                label(for="title") Title
                input(type="text",name='title')#title
            .form-control
                label(for="imgUrl") Image Url
                input(type="text",name='imgUrl')#imgUrl
            .form-control
                label(for="title") Price
                input(type="number",name='title')#title
            .form-control
                label(for="description") Description
                textarea(name="description", cols="30", rows="10", id="description")

            button(type='submit') Add Product

