{% extends "layout/base.html.twig" %}

{% block title %}
	{{pageTitle}}
{% endblock %}


{% block content %}

	<main>
		<h1>Add product.</h1>

		<form class="procuctForm" action="product" method="POST">
			<div class="form-control">
				<label for="title">Title</label>
				<input type="text" name="title" id='title'>

			</div>
			<button type="submit">Add-product</button>

		</form>
	</main>
{% endblock %}
